# Machine Learning

## What is Machine Learning?
This refers to the 

## Types of Machine Learning
- Unsupervised
- Supervised
- Reinforcement Learning

## Training Data
This consists of multiple features and labels which contain different data points. The features are the columns and the values are the labels 

### Back to the types:
- For supervised learning the training data is labeled
- Unsupervised learning: The data only has features

## Machine Learning Workflow
In short, You get historical data and convert it into a machine learning model.

## Our Scenario
Dataset of NYC property sales 2015-2019 which includes house size (sqr ft), Neighbourhood, year built, Sale price etc

We want to predict the prices of houses.


### Step 1:
- **Extract Features**: Here we see what feature (column) is necessary for the model
<div style="color:red; font-size:small">JSYK: Correlation ratio spans between -1 and 1. It determines the relationship between different variables. Any positive value yields a positive correlation, otherwise it yields a negative correlation. Any correlation value 0.8 and yields strongly positive correlation.</div>
- **Split Dataset**: Select the features (independent variable)
- **Train Data**: Data => Algorithm 
- **Train Model**
- **Evaluate**: After the model makes predictions, they have to be evaluated. You can check error rate by comparing the predictions to the real result from the test dataset.


and More...

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('50_Startups.csv')

In [5]:
data

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [6]:
data.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [7]:
features = data.drop("Profit", axis=1)

In [8]:
features

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [9]:
target = data["Profit"]

In [10]:
target

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()

In [13]:
features["State"] = le.fit_transform(features["State"])

In [14]:
features

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      0
2   153441.51       101145.55        407934.54      1
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      1
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      0
7   130298.13       145530.06        323876.68      1
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      0
10  101913.08       110594.11        229160.95      1
11  100671.96        91790.61        249744.55      0
12   93863.75       127320.38        249839.44      1
13   91992.39       135495.07        252664.93      0
14  119943.24       156547.42        256512.92      1
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      0
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      1
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      0
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      1
23   67532.53       105751.03        304768.73      1
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      0
26   75328.87       144135.98        134050.07      1
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      1
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      1
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      0
33   55493.95       103057.49        214634.81      1
34   46426.07       157693.92        210797.67      0
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      1
37   44069.95        51283.14        197029.42      0
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      0
40   28754.33       118546.05        172795.67      0
41   27892.92        84710.77        164470.71      1
42   23640.93        96189.63        148001.11      0
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      0
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      1
47       0.00       135426.92             0.00      0
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      0

In [15]:
from sklearn.model_selection import train_test_split

### Using train_test_split yields:
- X_train:  Independent variable. Data for training the model (70% of data in our case)
- Y_train: Training data for target variable
- X_Test: Validation dataset for independent variable
- Y-Test: Validation dataset for target variable ("Profit")

### Next we split both variables' (independent & target) datasets to allocate some data to be used to test.

In [16]:
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2)

In [23]:
features_test.shape

(10, 4)

In [22]:
target_train.shape

(40,)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lm = LinearRegression() #lm = linear model

In [29]:
model = lm.fit(X=features_train, y=target_train)

In [30]:
model

LinearRegression()

In [31]:
features_test

    R&D Spend  Administration  Marketing Spend  State
40   28754.33       118546.05        172795.67      0
49       0.00       116983.80         45173.06      0
43   15505.73       127382.30         35534.17      2
13   91992.39       135495.07        252664.93      0
27   72107.60       127864.55        353183.81      2
39   38558.51        82982.09        174999.30      0
33   55493.95       103057.49        214634.81      1
22   73994.56       122782.75        303319.26      1
7   130298.13       145530.06        323876.68      1
32   63408.86       129219.61         46085.25      0

In [41]:
prediction = model.predict(features_test)

In [42]:
result = pd.DataFrame({"Actual Value":target_test, "Predicted Value": prediction, "Error Margin": abs(target_test - prediction)})

In [43]:
result

    Actual Value  Predicted Value  Error Margin
40      78239.91     78184.211169     55.698831
49      14681.40     51865.356846  37183.956846
43      69758.98     61216.233688   8542.746312
13     134307.35    129356.461116   4950.888884
27     105008.31    115201.141217  10192.831217
39      81005.76     86656.418688   5650.658688
33      96778.92     99529.662241   2750.742241
22     110352.25    116249.714367   5897.464367
7      155752.60    160025.228381   4272.628381
32      97427.84    100758.394935   3330.554935